---
import '../styles/globals.css';
import { ChartForm } from '../components/ChartForm';
import { ChartDownload } from '../components/ChartDownload';
import Header from '../components/Header.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>グラフジェネレーター</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="min-h-screen bg-neutral-100 font-sans text-gray-900">
    <Header />

    <div class="max-w-360 mx-auto p-10">
      <div class="grid grid-cols-[auto_1fr] gap-6">
        <!-- Left Sidebar: ChartForm -->
        <div
          class="bg-white rounded-xl p-12 md:p-6 border border-neutral-200 w-100"
        >
          <ChartForm client:load />
        </div>

        <!-- Right Content: Chart and Download -->
        <div class="space-y-6">
          <div
            class="bg-white rounded-xl p-8 border aspect-video border-neutral-200"
          >
            <canvas id="myChart"></canvas>
          </div>

          <div
            class="bg-white rounded-xl p-12 md:p-6 border border-neutral-200"
          >
            <ChartDownload client:load />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
